.banner.list {
    background-image: url("./../../access/images/central-business-district-singapore.png");
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;

    .container {
        .content {
            top: calc(50% + 59px);
            z-index: 2;

            p {
                max-width: 550px;
            }
        }

        .navigation {
            z-index: 2;

        }

    }
}

.banner.list::after {
    background: linear-gradient(0deg, rgba(13, 13, 14, 0.81) 28.83%, rgba(13, 13, 14, 0) 100%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

section.other-information {
    .other-container {
        .other-content {
            display: flex;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100%/3);
                min-height: 230px;
                font-family: "Manrope";
                font-size: 32px;
                font-weight: 600;
                line-height: 1.3;
                color: #FFF;
                text-shadow: 0px 1px 2px rgba(9, 8, 43, 0.2);
                text-decoration: none;
                background-size: cover;
                padding: 73px;
                text-align: center;

                @media(max-width:767px) {
                    padding: 20px;
                    font-size: 28px;
                    line-height: 130%;
                }
            }

            .hydro-electric-news {
                background-image: url(./../../access/images/hydroelectricnews.png);

            }

            .production-result {
                background-image: url(./../../access/images/production-result.png);
            }

            .bidding-information {
                background-image: url(./../../access/images/bidding-information.png);
            }
        }
    }
}

@media (max-width: 880px) {
    section.other-information {
        .other-container {
            .other-content {
                flex-wrap: wrap;

                a {
                    min-height: 300px;
                }

                .hydro-electric-news {
                    width: 50%;
                }

                .production-result {
                    width: 50%;
                }

                .bidding-information {
                    width: 100%;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    section.other-information {
        .other-container {
            .other-content {
                .hydro-electric-news {
                    width: 100%;
                }

                .production-result {
                    width: 100%;
                }

                .bidding-information {
                    width: 100%;
                }
            }
        }
    }
}