.sitemap-banner {
	.terms-header {
		.terms-header-top {
			text-align: center;
			h3 {
				justify-content: center;
			}
			p {
				max-width: 559px;
				font-weight: 400;
				font-size: 16px;
				line-height: 1.6;
				letter-spacing: 0.01em;
				color: #FFFFFF;
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
			}
		}
	}
}

section.site-map-content-section {
	padding: 60px 100px;
	background-color: #ffffff;
	.site-map-container {
		max-width: 1240px;
		margin: auto;
		.tab {
			border-bottom: 1px solid #D1D5DB;
			padding-bottom: 24px;
			padding-top: 24px;
			.tab-title {
				display: flex;
				align-items: center;
				h2 {
					margin: 0;
					margin-left: 10px;
					a {
						font-family: 'Manrope';
						font-weight: 600;
						font-size: 28px;
						line-height: 1.3;
						color: #141518;
						display: block;
						text-decoration: underline;
					}
				}
			}
			.flexed-tab {
				margin-top: 20px;
				display: flex;
				column-gap: 30px;
				row-gap: 32px;
				padding-left: 32px;
				flex-wrap: wrap;
				div {
					min-width: 272.5px;
					h3 {
						a {
							font-family: 'Public Sans';
							font-style: normal;
							font-weight: 600;
							font-size: 14px;
							line-height: 140%;
							letter-spacing: 0.04em;
							color: #141518;
							display: block;
							text-transform: uppercase;
							text-decoration: underline;
						}
					}
					ul {
						padding-left: 8px;
						margin-top: 12px;
						li + li {
							margin-top: 8px;
						}
						li {
							a {
								font-family: 'Public Sans';
								font-style: normal;
								font-weight: 300;
								font-size: 16px;
								line-height: 160%;
								letter-spacing: 0.01em;
								color: #141518;
								text-decoration: underline;
								display: block;
								text-transform: capitalize;
							}
						}
					}
				}
			}
		}
		.tab.hide {
			.tab-title {
				display: flex;
				align-items: center;
				svg {
					transform: rotate(180deg);
				}
			}
			.flexed-tab {
				display: none;
			}
		}

		.contact-tab,
		.electricity-business-tab,
		.service-tab {
			.tab-title {
				align-items: center;
				svg {
					visibility: hidden;
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	section.site-map-content-section {
		.site-map-container {
			.tab {
				.tab-title {
					h2 {
						a {
						}
					}
				}
				.flexed-tab {
					padding-left: 30px;
					div {
						min-width: 195.75px;
						h3 {
							a {
							}
						}
						ul {
							li + li {
							}
							li {
								a {
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	section.site-map-content-section {
		padding: 48px;
		.site-map-container {
			.tab {
				.tab-title {
					h2 {
						a {
						}
					}
				}
				.flexed-tab {
					padding-left: 30px;
					div {
						min-width: 195.75px;
						h3 {
							a {
							}
						}
						ul {
							li + li {
							}
							li {
								a {
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.sitemap-banner {
		background-position: center center;
		.terms-header {
			.terms-header-top {
				text-align: center;
				h3 {
					justify-content: center;
				}
				p {
					display: none;
				}
			}
		}
	}
	section.site-map-content-section {
		padding: 40px 20px;
		.site-map-container {
			.tab {
				.tab-title {
					h2 {
						a {
						}
					}
				}
				.flexed-tab {
					flex-direction: column;
					row-gap: 30px;
					div {
						min-width: 195.75px;
						h3 {
							a {
							}
						}
						ul {
							li + li {
							}
							li {
								a {
								}
							}
						}
					}
				}
			}
		}
	}
}




